<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>itchanged</title>
	<link href="stylesheets/all.css" rel="stylesheet" type="text/css" media="all" />
</head>
	<body{% block extraclass %}{% endblock %}>
		<div id="wrapper">
			<div id="header">
				<h1 class="logo"><a href="{% url home %}">itchanged</a></h1>
				<div class="header-box">
					<h3 class="title"><a href="/downloads/itchanged-0.8.xpi">Firefox</a></h3>
					<ul class="add-nav">
						<!--<li><a href="#">Support</a></li>-->
						<li><a href="{% url about %}">About</a></li>
						<li><a href="{% url contact %}">Contact</a></li>
					</ul>
					<a class="link" href="#">Media Standards Trust</a>
				</div>
			</div>
			<div id="main">
			  {% block content %}
			   
			  {% endblock %}
			</div>
			<div id="footer">
				<div class="footer-box">
					<span class="footer-link"><a href="/downloads/itchanged-0.8.xpi">Firefox</a></span>
					<ul class="footer-nav">
						<!--<li><a href="#">Support</a></li>-->
						<li><a href="{% url about %}">About</a></li>
						<li><a href="{% url contact %}">Contact</a></li>
					</ul>
				</div>
				<p>&copy; Media Standards Trust 2010</p>
			</div>
		</div>
	</body>
</html>
