<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>itchanged</title>
	<link href="css/all.css" rel="stylesheet" type="text/css" media="all" />
</head>
	<body class="inner">
		<div id="wrapper">
			<div id="header">
				<h1 class="logo"><a href="#">itchanged</a></h1>
				<div class="header-box">
					<h3 class="title"><a href="#">Firefox</a></h3>
					<ul class="add-nav">						<li><a href="#">Support</a></li>						<li><a href="#">About</a></li>						<li><a href="#">Contact</a></li>					</ul>
					<a class="link" href="#">Media Starndards Trust</a>
				</div>
			</div>
			<div id="main">
				<h2 class="inner-title">it<em>changed</em> Firefox guide</h2>
				<div class="article">
					<h3><a href="#">Setup</a></h3>
					<img src="images/img03.gif" alt="" width="474" height="198" />
					<p>After installing it<em>changed</em> an icon will appear in the bottom right hand corner of your browser window, in the status bar. Click it to open the set up window</p>
				</div>
				<div class="article">
					<h3><a href="#">Receive notification when an article changes</a></h3>
					<img src="images/img03.gif" alt="" width="474" height="198" />
					<p>When an article, that has hNews implemented, is changed, you will receive notification in beside the icon in the status bar.</p>
				</div>
				<div class="article">
					<h3><a href="#">See changes to article</a></h3>
					<img src="images/img03.gif" alt="" width="474" height="198" />
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra eleifend tempus. Etiam vulputate auctor pellentesque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				</div>
			</div>
			<div id="footer">
				<div class="footer-box">
					<span class="footer-link"><a href="#">Firefox</a></span>
					<ul class="footer-nav">
						<li><a href="#">Support</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
				<p>&copy; Media Standards Trust 2010</p>
			</div>
		</div>
	</body>
</html>
