body{
	margin:0;
	font:14px Arial, Helvetica, sans-serif;
	color:#666;
	background:#dc0305 url(../images/bg-body.gif) repeat-x;
}
img {border:0;}
a{
	color:#666;
	text-decoration:underline;
}
a:hover{text-decoration:none;}
#wrapper{
	width:728px;
	margin:0 auto;
}
#header{
	height:1%;
	overflow:hidden;
	padding:16px 4px 53px;
}
.logo{
	background:url(../images/logo.gif) no-repeat;
	margin:4px 0 0;
	float:left;
	overflow:hidden;
	width:152px;	
	height:46px;
	text-indent:-9999px;
}
.logo a{
	height:100%;
	display:block;
}
.header-box{
	float:right;
	line-height:48px;
}
.title{
	font-size:18px;
	margin:0 16px 0 0;
	padding:0 22px 0 0;
	float:left;
	border-right:1px solid #ccc;
}
.title a{
	color:#827e7e;
	text-decoration:none;
}
.title a:hover{text-decoration:underline;}
.add-nav{
	list-style:none;
	padding:0;
	margin:0 58px 0 0;
	float:left;
	line-height:50px;
}
.add-nav li{
	float:left;
	padding:0 6px;
}
.add-nav a{text-decoration:none;}
.add-nav a:hover{text-decoration:underline;}
.link {
	float:left;
	margin:4px 0 0;
	width:59px;
	height:43px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/bg-link.gif) no-repeat;
}
#main{margin:0 0 37px;}
.box{
	background:url(../images/bg-box.gif) repeat-y;
	margin:0 0 8px;
}
.box .holder{background:url(../images/bg-box-holder.gif) no-repeat;}
.box .frame{
	background:url(../images/bg-box-frame.gif) no-repeat 0 100%;
	height:1%;
	overflow:hidden;
	padding:20px 18px 11px 22px;
}
.box img{
	float:left;
	margin:4px 0 0;
}
.wrap-box{float:right;}
.button{
	background:url(../images/bg-button.gif) repeat-y;
	font-size:20px;
	font-weight:bold;
	margin:0 0 8px;
	line-height:25px;
}
.button .holder{background:url(../images/bg-button-holder.gif) no-repeat;}
.button .frame{
	background:url(../images/bg-button-frame.gif) no-repeat 0 100%;
	width:215px;
	height:auto;
	padding:0;
}
.button a{
	color:#fff;
	display:block;
	padding:11px 5px 11px 48px;
	text-decoration:none;
}
.button a:hover{text-decoration:underline;}
.button .link1{background:url(../images/bg-link1.gif) no-repeat 15px 12px;}
.button .link2{background:url(../images/bg-link2.gif) no-repeat 15px 12px;}
.area{background:url(../images/bg-area.gif) repeat-y;}
.area .holder{background:url(../images/bg-area-holder.gif) no-repeat;}
.area .frame{
	background:url(../images/bg-area-frame.gif) no-repeat 0 100%;
	height:1%;
	overflow:hidden;
	padding:14px 20px 5px;
}
#content{
	float:left;
	width:430px;
}
.heading{
	font-size:16px;
	line-height:19px;
	font-weight:normal;
	color:#1a1a1a;
	margin:0 0 12px;
}
.list{
	list-style:none;
	padding:0;
	margin:0;
	line-height:18px;
}
.list li{
	margin:0 0 5px;
	height:1%;
	vertical-align:top;
}
.list .date{
	display:block;
	font-style:normal;
	font-size:11px;
	color:#b3afaf;
}
.list a{text-decoration:none;}
.list a:hover{text-decoration:underline;}
.aside{
	float:right;
	width:200px;
}
.aside h3{
	font-size:14px;
	line-height:16px;
	margin:0 0 4px;
	font-weight:normal;
}
.rating{
	list-style:none;
	padding:0;
	margin:0 0 14px;
	height:1%;
	overflow:hidden;
}
.rating li{
	float:left;
	margin:0 4px 0 0;
}
.rating img{display:block;}
.aside a{color:#000;}
#footer{
	height:1%;
	overflow:hidden;
	border-top:1px solid #fff;
	color:#fff;
	font-size:11px;
	padding:5px 0 100px;
	line-height:12px;
	margin:0 4px;
}
.footer-box{float:right;}
#footer p{margin:0;}
#footer a{color:#fff;}
.footer-link{
	float:left;
	padding:0 10px 0 0;
	margin:0 2px 0 0;
	background:url(../images/bg-footer-link.gif) no-repeat 100% 50%;
}
.footer-nav{
	list-style:none;
	padding:0;
	margin:0;
	float:left;
}
.footer-nav li{
	float:left;
	padding:0 0 0 8px;
}
.footer-nav a,
.footer-link a{text-decoration:none;}
.footer-nav a:hover,
.footer-link a:hover{text-decoration:underline;}
.inner{background:#fff url(../images/bg-body-inner.gif) repeat-x 0 83px;}
.inner #header{padding-bottom:33px;}
.inner-title{
	font-size:18px;
	color:#fff;
	line-height:23px;
	font-weight:normal;
	margin:0 0 50px;
}
.article{
	width:477px;
	margin:0 0 33px 4px;
	line-height:17px;
	font-size:13px;
}
.article h3{
	font-size:18px;
	line-height:20px;
	color:#1a1a1a;
	border-bottom:1px solid #1a1a1a;
	font-weight:normal;
	padding:0 0 2px;
	margin:0 0 6px;
}
.article h3 a{
	color:#1a1a1a;
	text-decoration:none;
}
.article h3 a:hover{text-decoration:underline;}
.article img{
	display:block;
	border:1px solid #d9d4d4;
	margin:0 0 6px;
}
.article p{margin:0;}
.inner #footer{
	color:#b3afaf;
	border-top-color:#d9d4d4;
}
.inner #footer a{color:#b3afaf;}
.inner .footer-link{background:url(../images/bg-footer-link-inner.gif) no-repeat 100% 50%;}
div.revision{
    border: 1px solid #d9d4d4;
    width: 50em;
}